$columns: 12;
$gutter: 20;
$width: 60;

$gutter-wide: 30;
$width-wide: 70;

$gutter-tablet: 42;
$width-tablet: 20;

$breakpoint-wide: 1300px;
$breakpoint-tablet: 980px;
$breakpoint-mobile: 768px;



$color: #fff;
$background: #2d2d2d;
$background-dark: #232323;

$hover: #999;
$active: $hover;
$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$font-size: 12px;
$line-height: 1.2em;



$action-opacity: 1 - 0.26;
$blue: #29c5f2;
$green: #13dc5a;
$yellow: #ffea00;
$white: #efefef;
$grey: #dbdbdb;
