/*
@font-face {
  font-family: 'FontName';
  src: url('../fonts/font.eot');
  src: local('font'), 
       local('font'), 
       url('../fonts/font.ttf') format('truetype'),
       url('../fonts/font.svg#font') format('svg'); 
}
*/