.icon {
  display: block;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important; }
  .icon.centered {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%; }
  .icon.aligned-right {
    left: auto;
    right: 0; }
  .icon.aligned-left {
    left: 0;
    right: auto; }

.icon {
  background-image: url('../images/icon-sc466d9fc34.png');
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-indent: -9999px; }

.icon-blank {
  background-position: 0 -502px;
  width: 1px;
  height: 1px; }
  .icon-blank.centered {
    margin-left: -0.5px;
    margin-top: -1px; }

.icon-check {
  background-position: 0 -464px;
  width: 10px;
  height: 10px; }
  .icon-check.centered {
    margin-left: -5px;
    margin-top: -5px; }

.icon-close-black {
  background-position: 0 -357px;
  width: 28px;
  height: 27px; }
  .icon-close-black.centered {
    margin-left: -14px;
    margin-top: -14px; }

.icon-close-detail {
  background-position: 0 -442px;
  width: 23px;
  height: 22px; }
  .icon-close-detail.centered {
    margin-left: -11.5px;
    margin-top: -11px; }

.icon-close {
  background-position: 0 -384px;
  width: 28px;
  height: 27px; }
  .icon-close.centered {
    margin-left: -14px;
    margin-top: -14px; }

.icon-filter {
  background-position: 0 -474px;
  width: 28px;
  height: 28px; }
  .icon-filter.centered {
    margin-left: -14px;
    margin-top: -14px; }

.icon-list-close-black {
  background-position: 0 -411px;
  width: 33px;
  height: 31px; }
  .icon-list-close-black.centered {
    margin-left: -16.5px;
    margin-top: -16px; }

.icon-list-close-white {
  background-position: 0 -326px;
  width: 33px;
  height: 31px; }
  .icon-list-close-white.centered {
    margin-left: -16.5px;
    margin-top: -16px; }

.icon-list-open-black {
  background-position: 0 -44px;
  width: 33px;
  height: 31px; }
  .icon-list-open-black.centered {
    margin-left: -16.5px;
    margin-top: -16px; }

.icon-list-open-white {
  background-position: 0 -75px;
  width: 33px;
  height: 31px; }
  .icon-list-open-white.centered {
    margin-left: -16.5px;
    margin-top: -16px; }

.icon-logo-black {
  background-position: 0 -290px;
  width: 21px;
  height: 36px; }
  .icon-logo-black.centered {
    margin-left: -10.5px;
    margin-top: -18px; }

.icon-logo {
  background-position: 0 -254px;
  width: 21px;
  height: 36px; }
  .icon-logo.centered {
    margin-left: -10.5px;
    margin-top: -18px; }

.icon-next-white {
  background-position: 0 -22px;
  width: 14px;
  height: 22px; }
  .icon-next-white.centered {
    margin-left: -7px;
    margin-top: -11px; }

.icon-next {
  background-position: 0 -106px;
  width: 14px;
  height: 22px; }
  .icon-next.centered {
    margin-left: -7px;
    margin-top: -11px; }

.icon-plus-dark {
  background-position: 0 -150px;
  width: 52px;
  height: 52px; }
  .icon-plus-dark.centered {
    margin-left: -26px;
    margin-top: -26px; }

.icon-plus {
  background-position: 0 -202px;
  width: 52px;
  height: 52px; }
  .icon-plus.centered {
    margin-left: -26px;
    margin-top: -26px; }

.icon-prev-white {
  background-position: 0 0;
  width: 14px;
  height: 22px; }
  .icon-prev-white.centered {
    margin-left: -7px;
    margin-top: -11px; }

.icon-prev {
  background-position: 0 -128px;
  width: 14px;
  height: 22px; }
  .icon-prev.centered {
    margin-left: -7px;
    margin-top: -11px; }

@media (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2) {
  .icon-blank {
    background-position: 0 -210px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-check {
    background-position: 0 -493px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-close-black {
    background-position: 0 -389px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-close-detail {
    background-position: 0 -443px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-close {
    background-position: 0 -416px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-filter {
    background-position: 0 -465px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-list-close-black {
    background-position: 0 -314px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-list-close-white {
    background-position: 0 -283px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-list-open-black {
    background-position: 0 -31px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-list-open-white {
    background-position: 0 0;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-logo-black {
    background-position: 0 -247px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-logo {
    background-position: 0 -211px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-next-white {
    background-position: 0 -84px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-next {
    background-position: 0 -367px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-plus-dark {
    background-position: 0 -158px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-plus {
    background-position: 0 -106px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-prev-white {
    background-position: 0 -62px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; }

  .icon-prev {
    background-position: 0 -345px;
    background-image: url('../images/icon@2x-s99204c5af2.png');
    -webkit-background-size: 52px 503px;
    -moz-background-size: 52px 503px;
    -o-background-size: 52px 503px;
    background-size: 52px 503px; } }
